body {
    background: linear-gradient(#1e3c72, #2a5298); /* Ocean blue gradient */
    color: white;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    position: relative;
}

.countdown-container {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    transform: scale(1.60); /* Scale */
    transform-origin: center center;
}

#countdown {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.time-cube {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.time-number {
    font-size: 2em;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 0px 0px 5px rgba(0, 255, 255, 0.8);
}

.time-label {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.7);
    text-transform: uppercase;
}

#switch-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #004c97;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#switch-button:hover {
    background-color: #007bff;
}

/* Textbox styling */
#textbox {
    margin-top: 20px;
    width: 100%;
    font-size: 1em;
    height: 100px;
    color: #ffffff;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #004c97;
    resize: none;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

#textbox::placeholder {
    font-size: 1em;
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 600px) {
    .countdown-container {
        transform: scale(1);
    }

    #countdown {
        flex-wrap: wrap; /* Wrap cubes on smaller screens */
        gap: 10px;
    }

    .time-cube {
        width: 60px;
        height: 60px;
    }

    .time-number {
        font-size: 1.5em;
    }

    .time-label {
        font-size: 0.8em;
    }

    #textbox {
        height: 80px;
    }
}